$primary: #0000FF;
$white: #FFFFFF;
$background: #232830;

// MD syntax
$dev-orange: rgb(210, 142, 93);
$dev-red: rgb(220, 60, 60);
$dev-purple: rgb(183, 57, 153);
$dev-pink: #E91E63;
$dev-blue: #29B6F6;
$dev-turquoise: rgb(0, 171, 165);
$dev-green: rgb(149, 199, 111);
