
@import "../abstracts/_variables.scss";

.textEditor--hero {
  background-color: $background;
  padding: 190px 0 120px 0;
}
.textEditor--hero h6 {
  margin-top: 10px;
  color: $white;
  font-size: 40px;
  font-weight: 200;
}
.textEditor--hero a {
  position: relative;
}
.textEditor--hero a:hover::before {
  content: ">";
  font-size: 40px;
  color: #FFF;
  opacity: 0.6;
  position: absolute;
  left: 0;
}
